<h1>会員一覧</h1>
<table class="table">
  <theader>
    <tr>
      <td>会員ID</td>
      <td>氏名</td>
      <td>メールアドレス</td>
      <td>ステータス</td>
    </tr>
  </theader>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.full_name, admin_customer_path(customer.id), method: :get %></td>
      <td><%= customer.email %></td>
      <td><%= customer.is_active %></td>
    </tr>
    <% end %>
  </tbody>
</table>