.top-text {
  font-family:  "Zen Maru Gothic","Tsukimi Rounded","Cherry Bomb One", "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}

.text-white {
  font-size: 20px;
}

.items_text {
  font-family:  "Zen Maru Gothic","Tsukimi Rounded","Cherry Bomb One", "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}

.items {
  margin: 10px; 
}