<%= stylesheet_link_tag "footer_styles" %>
<footer class="fixed-bottom  navbar-dark mt-3">
  <div class='container mt-3'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p class="navbar-brand">CopyRight ganbaritai.inc</p>
    	</div>
    </div>
  </div>
</footer>
